
<div class ="row">
<div class = "col-md-3">
</div>
<div class = "col-md-6">
   <div class="btn-group">
    <%= link_to "All", booked_list_bookings_path, :class => "btn btn-#{active_action('bookings/booked_list')}" %>
    <%= link_to "Today", todays_bookings_path, :class => "btn btn-#{active_action('bookings/todays')}" %>
    <%= link_to "Upcoming", upcoming_bookings_path, :class => "btn btn-#{active_action('bookings/upcoming')}" %>
</div>
</div>
</div>
<div class = "container">
  <div class="row">
  <div class = "col-md-8">
		  <%if @booked_room_list.present? %>
				<table class="table table-bordered table-hover display" id = "upcoming_table">
					<thead>
						<tr style="background-color: #EEE;">
							<th>Meeting Room</th>
              <th>Booked By</th>
							<th>From</th>
							<th>To</th>
						</tr>
					</thead>
					<tbody>
						<%@booked_room_list.each do |room|%>
						   <tr class="<%= row_class(room) %>">
						   		<td><%=room.meeting_room.name%></td>
                  <td><%=room.user.name%></td>
						   		<td><b><%=room.starts_at.strftime("%d/%m/%Y at %H:%M %p")%></b></td>
						   		<td><b><%=room.ends_at.strftime("%d/%m/%Y at %H:%M %p")%></b></td>
						   	</tr>
						<%end%>
					</tbody>
				</table>
		  <%else%>
        <div class = "border-width">
          <h2><center>No Bookings to display</center></h2>
        </div>
		  <%end%>
		</div>
		<div class = "col-md-4 foo book">
		<h1><span class = "glyphicon glyphicon-hand-right"></span> &nbsp;Book your Room</h1>
    <div>
      <% if flash[:errors] %>
        <div class="alert alert-danger fade in fade_alerts">
          <strong></strong><%=flash[:errors]%>.
        </div>
      <% end %>
      <%if flash[:success].present?%>
        <div class="alert alert-success fade in fade_alerts">
          <strong>Success! </strong><%=flash[:success]%>.
        </div>
      <%end%>
      </div>
      <%= form_for @book_room do |f| %>
    <div>
      <%= f.select :meeting_room_id, options_for_select(@meeting_rooms_lists.collect { |room| [room.name.titleize, room.id] }, 1), {}, { id: 'rooms_select' ,:class => "form-control mrg-top"} %>
  </div>

  <div class = "row-padding">
      <%= f.text_field :starts_at, :required => true, :id => 'datetimepicker_start', :placeholder => "Start's at",:class => "form-control mrg-top"%>
  </div>

  <div class = "row-padding">
       <%= f.text_field :ends_at, :required => true, :id => 'datetimepicker_end',:placeholder => "End's at", :class => "form-control mrg-top"%>
  </div>
  <div class = "row-padding">
       <%= f.text_area :agenda, :required => true, :placeholder => "Agenda", :class => "form-control mrg-top", :rows => "3"%>
  </div>

    <div class = "row-padding mrg-btm">
       <%=f.submit 'Book The Room', :id => "book_room", :class => ["btn", "btn-danger", "mrg-top"] , data: {disable_with: "Checking Availabilty.."}%>
  </div>

<% end %>
</div>

		</div>
	</div>
	</div>
