<div class = "container">
	<a href= "<%= new_booking_path%>" class="btn btn-info" role="button">Book Meeting Room</a>
  <a href= "<%= booked_list_bookings_path%>" class="btn btn-info" role="button">Booked List</a>

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      	<%=image_tag 'DSC_1230.jpg', :alt => "remya1"%>
      	<div class="carousel-caption" style="color:yellow; bold:bold; top: 0;
    bottom: auto;">
        	<h3>Meeting Room One</h3>
        	<p>Located Near To Ruby Entry Door.</p>
      	</div>
    </div>

    <div class="item">
       	<%=image_tag 'DSC_1232.jpg', :alt => "remya1"%>
       	<div class="carousel-caption" style="color:yellow; bold:bold; top: 0;
    bottom: auto;">
	        <h3>Meeting Room Two</h3>
	        <p>Located Near to New Server Room.</p>
      	</div>
    </div>

    <div class="item">
        <%=image_tag 'DSC_1236.jpg', :alt => "remya1"%>
    	<div class="carousel-caption" style="color:yellow; bold:bold; top: 0;
    bottom: auto;">
	        <h3>Meeting Room Three</h3>
	        <p>Thunderlilly.Outside Ruby Office.</p>
      	</div>
    </div>

    <div class="item">
        <%=image_tag 'DSC_1258.jpg', :alt => "remya1"%>
    	<div class="carousel-caption" style="color:yellow; bold:bold; top: 0;
    bottom: auto;">
	        <h3>Meeting Room Four</h3>
	        <p>Periyar Building.</p>
      	</div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
