<div class=" page-header header-all-page ">
  <h1>Upcoming Meetings <small></small></h1>
</div>
<div class = "container">
  <div class="row">
  <div class = "col-md-9">
		  <%if @booked_room_list.present? %>
				<table class="table table-bordered table-hover display" id = "upcoming_table">
					<thead>
						<tr>
							<th>Meeting Room</th>
							<th>From</th>
							<th>To</th>
							<th>Booked By</th>
							<th>Purpose</th>
							<th>Invitees</th>
						</tr>
					</thead>
					<tbody>
						<%@booked_room_list.each do |room|%>
						   <tr>
						   		<td class="info"><%=room.meeting_room.name%></td>
						   		<td class="danger"><b><%=room.starts_at.strftime("%d/%m/%Y at %H:%M")%></b></td>
						   		<td class="danger"><b><%=room.ends_at.strftime("%d/%m/%Y at %H:%M")%></b></td>
						   		<td class="info"><%=room.user.name%></td>
						   		<td class="info"><%=room.agenda%></td>
						   		<td class="info"><%=room.invitee_names%></td>
						   	</tr>
						<%end%>
					</tbody>
				</table>
		  <%else%>
		  <h3><span class="label label-info">No Upcoming Bookings..!!</span></h3>
		  <%end%>
		</div>
	</div>
	</div>
