          <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                          <%= link_to "Forgot password?", new_password_path(resource_name) %>
                        <% end -%>
                        </div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                         <%= f.email_field :email, autofocus: true, :placeholder => "email", :class=> "form-control" %>                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <!-- <input id="login-password" type="password" class="form-control" name="password" placeholder="password"> -->
                                        <%= f.password_field :password, autocomplete: "off", :placeholder => "password", :class => "form-control" %>
                                    </div>
                                    

                                
                            <div class="input-group">
                                      <div class="checkbox">
                                          <% if devise_mapping.rememberable? -%>
                                          <label>
                                            <%= f.check_box :remember_me %>Remember me
                                          </label>
                                          <% end -%>
                                      </div>
                                    </div>


                                <div style="margin-bottom:10px" class="form-group ">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls login-btn">
<!--                                       <a id="btn-login" href="#" class="btn btn-success">Login  </a>
 -->                                      <%= f.submit "Login" , :class => "btn btn-success" %>
                                      <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <!-- <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a> -->
                                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                                          <%= link_to "Sign up Here", new_registration_path(resource_name) %>
                                        <% end -%>
                                        </div>
                                    </div>
                                </div> 
                        </div>                     
                    </div>  
        </div>
        <%end%>