<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookandGo</title>

    <!-- Bootstrap Core CSS -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%=root_path%>">BookandGo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Logout" , destroy_user_session_path, method: :delete%></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
</nav>
  <div class = "container container-margin-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="<%=root_path%>">Home </a>
                </li>
                <li>
                    <a href="<%= new_booking_path%>">New Booking </a>
                </li>
                <li>
                   <a href="<%= todays_bookings_path%>">Today's Bookings</a>
                </li>
                <li>
                    <a href="<%= upcoming_bookings_path%>">List Upcoming Bookings</a>
                </li>
                <li>
                    <a href="<%= booked_list_bookings_path%>">See All Bookings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <a href="#menu-toggle" class="btn btn-default collapse-margin" id="menu-toggle"><span class = "glyphicon glyphicon-arrow-left" id = "reverse-class"></span></a>
                        <% if notice %>
                           <div class="alert alert-success fade_alerts" role="alert"><%= notice %></div>
                        <%end%>
                        <%if alert %>
                          <div class="alert alert-danger fade_alerts" role="alert"><%= alert %></div>
                        <% end %>
                <%= yield %>
        <!-- /#page-content-wrapper -->

    </div>
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#reverse-class").toggleClass("glyphicon glyphicon-arrow-left glyphicon glyphicon-arrow-right");
    });
    </script>

</body>

</html>
